@using MvcDating.Helpers
@model Domain.Models.Message



@using (Html.BeginForm(new { userId = Model.UserId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <h3>Send @(ViewBag.Gender == 1 ? "him" : "her") a message...</h3>

        @Html.HiddenFor(model => model.UserId)
        <div style="padding-bottom: 10px;">
            @Html.TextAreaFor(model => model.Content, new
            {
                @placeholder = "Write something here...",
                @required = ""
            })
            <br/>
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <input type="submit" value="Send message" />
    </fieldset>
}
