@using MvcDating.Helpers
@model MvcDating.Models.Message



@using (Html.BeginForm(new { userId = Model.UserId }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <span>Sending a message to <b>@ViewBag.userName</b></span>
    <fieldset>
        @Html.HiddenFor(model => model.UserId)
        <div>
            @Html.EditorFor(model => model.Content)
            <br/>
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <br/>

        <input type="submit" value="Create" />
    </fieldset>
}
