@using MvcDating.Helpers
@model IEnumerable<MvcDating.Models.ConversationView>

@{
    ViewBag.Title = "Conversations";
}

@if (!Model.Any())
{
    <h3>No conversations found. You can start messaging someone by going to their profile and clicking "message".</h3>
}

<style>
    .messagesIndex {
        border: 1px solid #ddd;
        border-width: 1px 0;
        border-collapse: separate;
        width: 100%;
    }
    .messagesIndex td:first-child{
        width: 60px;
    }
    .messagesIndex td:last-child {
        width: 9%;
    }

    .messagesIndex td:nth-child(3) {
        width: 18%;
    }

    .messagesIndex .picture {
        width: 50px;
        height: 37px;
    }

    .messagesIndex span {
        color: #999;
    }

    .messagesIndex .userName:hover {
        background: none;
        text-decoration: underline;
    }
    .messagesIndex .userName {
        padding: 0;
        color: #1f93e0;
        font-size: 13px;
        font-weight: bold;
        font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
        text-decoration: none;
    }
</style>


@foreach (var item in Model)
{
    <table class="messagesIndex">
        <tr>
            <td>
                <img alt="@item.UserNameWith" src="~/Uploads/@item.UserPicture" class="picture" />
            </td>
            <td>
                @Html.ActionLink(item.UserNameWith, "Index", "Profile", new { username = item.UserNameWith }, new { @class = "userName" })<br/>
                <span>@Html.DisplayFor(modelItem => item.LastMessage.Content)</span>
            </td>
            <td>
                @item.GetTimeAgo()
            </td>
            <td>
                @Html.ActionLink("Read", "Read", new { id = item.ConversationId }, new { @class = "button" })
            </td>
        </tr>
    </table>
}


