@using MvcDating.Helpers
@model IEnumerable<MvcDating.Models.ConversationView>

@{
    ViewBag.Title = "Conversations";
}

@if (!Model.Any())
{
    <h3>No conversations found. You can start messaging someone by going to their profile and clicking "message".</h3>
}

<style>
    .messagesIndex {
        border: 1px solid #ddd;
        border-width: 1px 0;
        border-collapse: separate;
        width: 100%;
    }
    ul.messagesIndex:hover {
        background: #eee;
    }
    .messagesIndex li {
        list-style: none;
        width: 71%;
        float: left;
    } 
    .messagesIndex li:first-child {
        width: 80px;
    }
    .messagesIndex li:last-child {
        width: 14%;
        padding-top: 22px;
        float: right;
    }

    .messagesIndex span {
        color: #999;
    }

    .messagesIndex .userName:hover {
        background: none;
        text-decoration: underline;
    }
    .messagesIndex .userName {
        padding: 0;
        color: #1f93e0;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
    }
    .messagesIndex a, .messagesIndex a:hover {
        padding-top: 10px;
        display: block;
        text-decoration: none;
    }
    .messagesIndex small {
        color: #777;
    }
    .messagesIndex img {
        height: 64px;
        width: 64px;
    }
</style>


@foreach (var item in Model)
{
    <ul class="messagesIndex clearfix">
        <li>
            <img alt="@item.UserNameWith" src="~/Uploads/@item.UserPicture"/>
        </li>
        <li>
            <a href="@Url.RouteUrl(routeValues: new
                        {
                            Action = "Read",
                            Controller = "Messages",
                            id = item.ConversationId
                        })">
                <b>@item.UserNameWith</b><br />
                <small>@Html.DisplayFor(modelItem => item.LastMessage.Content)</small>
            </a>
        </li>
        <li>
            <small>@item.GetTimeAgo()</small>
        </li>
    </ul>
}


