@model IEnumerable<MvcDating.Models.ConversationView>

@{
    ViewBag.Title = "Conversations";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNameWith)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img alt="@item.UserNameWith" src="~/Uploads/@item.UserPicture" class="picture" />
        </td>
        <td>
            @item.UserNameWith
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Read", "Read", new { id = item.ConversationId }, new { @class = "button" })
        </td>
    </tr>
}

</table>
