@model List<MvcDating.Models.MessageView>

@{
    ViewBag.Title = "Read";
}

<p>
    @Html.ActionLink("Show all conversations", "Index", null, new { @class = "button" })
</p>

<fieldset>
    <legend>Conversation</legend>

    @foreach (var item in Model)
    {
        <div class="message-wrapper clearfix">
            <div class="message-picture">
                <img src="~/Uploads/@item.UserPicture" /><br />
            </div>
            <div class="message-content">
                
                
                <small>Message from @Html.ActionLink(item.UserName, item.UserName, "Profile", null, new { @class = "username" })</small>
                <span>@item.Timestamp</span>
                <hr>
                <div>@item.Content</div>
            </div>
        </div>
    }
    
    @Html.Action("Create", "Messages", new { userId = ViewBag.UserIdWith } )
    
</fieldset>

