@model List<MvcDating.Models.MessageView>

@{
    ViewBag.Title = "Read";
}

<p>
    @Html.ActionLink("Show all conversations", "Index", null, new { @class = "button" })
</p>

<fieldset>
    <legend>Conversation</legend>

    @foreach (var item in Model)
    {
        <div class="message-wrapper clear-fix">
            <div class="message-picture">
                <img src="~/Uploads/@item.UserPicture" height="48" width="48" /><br />
            </div>
            <div class="message-content">
                @item.Content
                <hr>
                <small>Message from @Html.ActionLink(item.UserName, item.UserName, "Profile", null, new { @class = "username" })</small>
                <span>@item.Timestamp</span>
            </div>
        </div>
    }
    
    @Html.Action("Create", "Messages", new { userId = ViewBag.UserIdWith } )
    
</fieldset>

