@model MvcDating.Models.ProfileView

@{
    ViewBag.Title = "Edit my profile";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>My Profile</legend>

        @Html.HiddenFor(model => model.UserId)
        
        <div class="editor-field">
            I'm
            @Html.DropDownListFor(model => model.Situation, Model.SituationItems)
            and @Html.DropDownListFor(model => model.Orientation, Model.OrientationItems)
        </div>

        <legend>
            @Html.DisplayNameFor(model => model.Birthday)
        </legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>
        
        <legend>
            @Html.DisplayNameFor(model => model.LocationCountry)
        </legend>
        <div class="editor-field">
            @Html.LabelFor(model => model.LocationCountry) @Html.DropDownListFor(model => model.LocationCountry, (IEnumerable<SelectListItem>)ViewBag.Countries)
            @Html.LabelFor(model => model.LocationCity) @Html.EditorFor(model => model.LocationCity)
            @Html.ValidationMessageFor(model => model.LocationCountry)
            @Html.ValidationMessageFor(model => model.LocationCity)
        </div>

        <legend>
            @Html.DisplayNameFor(model => model.Summary)
        </legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <legend>
            @Html.DisplayNameFor(model => model.GoodAt)
        </legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.GoodAt)
            @Html.ValidationMessageFor(model => model.GoodAt)
        </div>

        <legend>
            @Html.DisplayNameFor(model => model.MessageIf)
        </legend>
        <div class="editor-field">
            @Html.EditorFor(model => model.MessageIf)
            @Html.ValidationMessageFor(model => model.MessageIf)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
