@using MvcDating.Helpers
@model MvcDating.Models.ProfileView


<h1>
    @Html.DisplayFor(model => model.UserName)
    @if (WebSecurity.IsCurrentUser(Model.UserName))
    {
        @Html.ActionLink("Edit profile", "Edit", null, new { @class = "button" })
    }
</h1>

<div class="profileDetails">
    <h4>@Html.DisplayNameFor(model => model.Birthday)</h4>
    <div>
        @HelperFunctions.GetAge(Model.Birthday) / @Model.Gender
        / @Html.DisplayFor(model => model.Orientation)
        / @Html.DisplayFor(model => model.Situation)
    </div>

    <div>
        @Html.DisplayFor(model => model.LocationCountry), @Html.DisplayFor(model => model.LocationCity)
    </div>



    <h4>@Html.DisplayNameFor(model => model.Summary)</h4>
    <div>
        @Html.DisplayFor(model => model.Summary)
    </div>
    
@if (!Model.GoodAt.IsEmpty())
{
    <h4>@Html.DisplayNameFor(model => model.GoodAt) 
        @Html.Raw(Model.UserId == WebSecurity.CurrentUserId ? "<a class='button'>Edit</a>":"")</h4>
    <div>
        @Html.DisplayFor(model => model.GoodAt)
    </div>
}

    <h4>@Html.DisplayNameFor(model => model.MessageIf)</h4>
    <div>
        @Html.DisplayFor(model => model.MessageIf)
    </div>

    <h4>@Html.DisplayNameFor(model => model.UpdatedDate)</h4>
    <div>
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

</div>
