<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title MVC4</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/extra")
        <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/ie")
        <![endif]-->
        @RenderSection("scripts", required: false)
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MvcDating", "Index", "Home", null, new { @class = "navbar-brand", title = "Go to homepage" })
                </div>
                <div class="collapse navbar-collapse">
                    @Html.Partial("_Menu")
                </div>
            </div>
        </div>
        
        @if (!Request.IsAuthenticated)
        {
            <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl, showLoginForm = true })
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="container">
            @Html.Action("FeaturedProfiles", "Home")
        </div>

        <!-- Menu that shows up when logged in -->
        <div class="container subMenu">
            @if (Request.IsAuthenticated)
            {
                <span class="pull-right">
                    Logged in as @Html.ActionLink(User.Identity.Name, "Index", "Profile", new { username = User.Identity.Name }, new { @class = "username", title = "My Profile" })
                </span>
                @Html.ActionLink("Settings", "Manage", "Account", null, new { title = "Manage" })
            }
        </div>

        <div class="container bgwhite">

            <div style="padding: 8px 15px; margin-bottom: 8px;" class="clearfix">
                @RenderBody()
            </div>

        </div>
        
        <hr style="margin: 20px 0 10px 0;" />

        

    </body>
</html>
