@using MvcDating.Models
@model MvcDating.Models.SearchBoxView
           
<style>
    input[type="number"] {
        width: 60px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Search</legend>

        <div class="col-md-7">
            @Html.LabelFor(m => m.AgeFrom)
            @Html.EditorFor(m => m.AgeFrom, new { Value = "18" })
            @Html.LabelFor(m => m.AgeTo)
            @Html.EditorFor(m => m.AgeTo, new { Value = "24" })
            <br/>
            @Html.LabelFor(m => m.Gender)
            <input type="checkbox" id="GenderMale" name="Gender" value="0" @(Model.Gender.Contains(0) ? "checked" : "") /> 
            @Html.Label(ProfileItems.Gender[0], new { @for = "GenderMale" })

            <input type="checkbox" id="GenderFemale" name="Gender" value="1" @(Model.Gender.Contains(1) ? "checked" : "") /> 
            @Html.Label(ProfileItems.Gender[1], new { @for = "GenderFemale" })
            <br />
        </div>
        
        
    </fieldset>
    <br/>
    <input type="submit" value="Search profiles"/>
}