@using MvcDating.Helpers
@model IEnumerable<MvcDating.Models.Picture>

@{
    ViewBag.Title = "Pictures";
}

<p>
    @Html.ActionLink("Upload new", "Create", null, new { @class = "button" })
</p>

@if (!Model.Any())
{
    <h4>No pictures found. Why not @Html.ActionLink("upload", "Create", null, new { @class = "button" }) some? :)</h4>
}

@foreach (var item in Model)
{
    <div style="float: left;">
        <div class="pictureDiv @(item.IsAvatar ? "pictureDefault" : "")" itemscope itemid="@item.PictureId">
            <a class="pictureModalClick">
                <img src="~/Uploads/@item.Thumb" class="pictureImg" title="Uploaded on @item.UploadedDate.ToShortDateString()" />
            </a>
        </div>
    </div>
    
    <!-- Modal -->
    <div id="pictureModal_@item.PictureId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Html.Image("~/Uploads/" + item.Src, "pictureImg")
                </div>
                <div class="modal-footer">
                    <b class="defaultPictureText" style="@(item.IsAvatar ? "" : "display:none");" 
                       itemscope itemid="@item.PictureId">This is your default picture.</b>

                    <button type="button" class="setDefaultPicture" style="@(item.IsAvatar ? "display:none" : "");"
                        itemscope itemid="@item.PictureId">
                        Make Profile Picture
                    </button>
                        
                    <button type="button" class="deletePicture bgred"
                            itemscope itemid="@item.PictureId">
                        Delete Picture
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->
}

@*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_reveal_id = "createMessageModal" })*@

<script>
    $(function() {
        
        // Show modal picture
        $(".pictureModalClick").on("click", function() {
            window.itemModalDiv = '#pictureModal_' + $(this).parent().attr('itemid');

            $(window.itemModalDiv).modal({
                keyboard: false
            });
            updateModalWindowWidth(window.itemModalDiv);
        });
        
        $(window).resize(function() {
            if (window.itemModalDiv) updateModalWindowWidth();
        });

        function updateModalWindowWidth() {
            setTimeout(function() {
                var itemWidth = $(window.itemModalDiv + " .modal-body img").first().width() + 22;
                $(window.itemModalDiv + " .modal-dialog").css('width', itemWidth);
            }, 200);
        }


        $(".deletePicture").on("click", function() {
            var itemid = $(this).attr('itemid');
            if (confirm('Are you sure you want to DELETE this picture?')) {
                $.ajax({
                    url: "/api/Pictures/" + itemid,
                    type: "DELETE",
                    success: function(data) {
                        $(".pictureDiv[itemid=" + itemid + "]").fadeOut();
                    }
                });
            }
        });
        
        $(".setDefaultPicture").on("click", function() {
            var itemid = $(this).attr('itemid');
            $.ajax({
                url: "/api/Pictures/" + itemid,
                type: "PUT",
                success: function (data) {
                    $(".pictureDiv").removeClass("pictureDefault");
                    $(".pictureDiv[itemid=" + itemid + "]").addClass("pictureDefault");
                    $(".defaultPictureText").fadeOut();
                    $(".setDefaultPicture, .defaultPictureText[itemid=" + itemid + "]").fadeIn();
                    $(".setDefaultPicture[itemid=" + itemid + "]").fadeOut();
                }
            });
        });

    });
</script>