@using MvcDating.Helpers
@model IEnumerable<MvcDating.Models.Picture>

@{
    ViewBag.Title = "Pictures";
}

<p>
    @Html.ActionLink("Upload new", "Create", null, new { @class = "button" })
</p>

@if (!Model.Any())
{
    <h4>No pictures found. Why not @Html.ActionLink("upload", "Create", null, new { @class = "button" }) some? :)</h4>
}

@foreach (var item in Model)
{
    <div style="float: left;">
        
        <div class="pictureDropDown">
            <ul class="pictureDropDownMenu">
                <li>
                    <a class="setDefaultPicture" style="@(item.IsAvatar ? "display:none" : "");" itemscope itemid="@item.PictureId">Make Profile Picture</a>
                </li>
                <li>
                    <a class="deletePicture" itemscope itemid="@item.PictureId"><img src="~/Content/Images/delete.png" width="16" /> Delete</a>
                </li>
            </ul>
        </div>
        
        <div class="pictureDiv @(item.IsAvatar ? "pictureDefault" : "")" itemscope itemid="@item.PictureId">
            <a class="pictureDropDownButton">@Html.Image("~/Content/Images/pencil.png")</a>
            @Html.Image("~/Uploads/" + item.Thumb, "pictureImg")
        </div>
    </div>
}

<script>
    $(function () {
        $("a.pictureDropDownButton").on("click", function() {
            var dropDownMenu = $(this).parent().parent().find(".pictureDropDownMenu");
            dropDownMenu.fadeIn();
            //console.log();
        });
        
        /*$(".pictureDiv").parent().on("mouseleave", function() {
            $(this).find(".pictureDropDownMenu").fadeOut();
        });*/

        $("a.deletePicture").on("click", function() {
            var itemid = $(this).attr('itemid');
            $.ajax({
                url: "/api/Pictures/" + itemid,
                type: "DELETE",
                success: function (data) {
                    $(".pictureDiv[itemid=" + itemid + "]").fadeOut();
                }
            });
        });
        
        $("a.setDefaultPicture").on("click", function() {
            var itemid = $(this).attr('itemid');
            $.ajax({
                url: "/api/Pictures/" + itemid,
                type: "PUT",
                success: function (data) {
                    $(".pictureDiv").removeClass("pictureDefault");
                    $(".pictureDiv[itemid=" + itemid + "]").addClass("pictureDefault");
                    $(".setDefaultPicture").fadeIn();
                    $(".setDefaultPicture[itemid=" + itemid + "]").fadeOut();
                }
            });
        });

    });
</script>