@model MvcDating.Models.LoginModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset class="form-horizontal">
        <legend>Login</legend>
        <table width="100%">
            <tr>
                <td width="40%">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                </td>
            </tr>
            <tr>
            <td colspan="2">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </td>
            <tr>
                <td colspan="2"><input type="submit" value="Log in" class="btn btn-large" /></td>
            </tr>
        </table>
    </fieldset>
}
