@model MvcDating.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>


<section class="col-md-7">
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }
</section>

<style>
    #externalLogins {
        border: 1px solid #eee;
        padding: 4px 8px;
    }

    #externalLogins td {
        border: 1px solid #eee;
    }
</style>

<section id="externalLogins" class="col-md-5">
    @Html.Action("RemoveExternalLogins")
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
