@model MvcDating.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<style>
    #externalLogins {
        border: 1px solid #eee;
        padding: 4px 8px;
    }
    #externalLogins td {
        border: 1px solid #eee;
    }
    #externalLogins button, #externalLogins input {
        width: 120px;
    }
</style>

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h2>Add an external login</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
