@model MvcDating.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";

    string male = MvcDating.Models.ProfileItems.Gender[0];
    string female = MvcDating.Models.ProfileItems.Gender[1];
}

<hgroup class="title">
    <h1>Associate your @ViewBag.ProviderDisplayName account.</h1>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        
        <table width="400">
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.EditorFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Gender)</td>
                <td>
                    @Html.RadioButtonFor(m => m.Gender, "0", new { id = male })
                    @Html.Label(male)
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    @Html.RadioButtonFor(m => m.Gender, "1", new { id = female })
                    @Html.Label(female)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.EditorFor(m => m.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Birthday)</td>
                <td>@Html.TextBoxFor(m => m.Birthday, DateTime.Now.ToString("dd/mm/yyyy"), new { type = "date" })</td>
            </tr>
        </table>

        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
