@using MvcDating.Models
@model MvcDating.Models.RegisterModel
@{
    ViewBag.Title = "Create a new account";

    string male = MvcDating.Models.ProfileItems.Gender[0];
    string female = MvcDating.Models.ProfileItems.Gender[1];
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@ViewBag.Title</legend>

        <table>
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Gender)</td>
                <td>
                    @Html.RadioButtonFor(m => m.Gender, "0", new { id = male })
                    @Html.Label(male)
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    @Html.RadioButtonFor(m => m.Gender, "1", new { id = female })
                    @Html.Label(female)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.TextBoxFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.TextBoxFor(m => m.ConfirmPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
            </tr>
        </table>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
